body{
   text-align:center;
   font-family:Open Sans,sans-serif;
   background-color:#ff00ae;
   color:	#fdfbfb;
   margin: 0px 0px 30px 0px;
 }

h2{
   color:#8000ff;
   font-size: 40px;
 }

.titulo-verde{
   color:#a4ff4c;
 }

.titulo-vermelho{
   color:red;
 }

.titulo-amarelo{
   color:#ffea47;
 }

section{
     max-width: 60%;
     margin:0 auto;
 }

h1{
   font-size: 60px;
   font-weight: 300;
 }

h3{
   font-size:22px;
   font-style: italic;
 }


p{
   line-height: 1.5;
   font-size: 20px;
 }

img{
   width: 100%;
 }

ul{
   list-style-type: none;
   line-height: 2;
   padding-left: 0;
 }

a{
   text-decoration: none;
   color:#E7B7FF;
   color:#FDBD29;
   font-weight: 700;
 }

.principal{
   background:#c1ff1a;
   height: 40px;
   max-width: 60%;
   margin: 0 auto;
 }

.principal a{
   color: #0d0d0d;
   text-decoration: underline;
   font-weight: normal;
 }

.principal li{
  display:inline-block;
  line-height: 2.5;
  margin: 0 89px;
}

button{
  background: #74e0f1;
  border: 1px solid transparent;
  padding: 2px 20px;
  border-radius: 3px;
 }


